body{
    background-color: black;
    color: violet;
   
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}
h1 {
    margin-left: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
    border: 1px solid rgb(7, 7, 9);
    border-radius: 20px;
    align-items: right;
    background-color: rgb(30, 20, 90);
}
p {
    justify-content: center;
    text-align: center;
}

.container {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.col-12 {
    margin-top: 10px;
    padding-bottom: 50px;
}

#todo-header {
 text-align: center;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

ul {
    list-style: none;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 50px;
    border-left: 2px solid white;
    

    
    
}
li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    color: aliceblue;
    text-transform:uppercase;
    border: 1px solid white;
    background-color: cadetblue;
    border-radius: 10px;
    margin: 20px;
    text-align: center;

}


li:hover{
    background-color: orchid;
    color: blueviolet;
    margin-left: 10px;
    padding-left: 2px;
  
    

}

#user-todo {
    border-radius: 5px;
    margin-bottom: 15px;
  
}


#clear {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 20px;
    margin-bottom: 50px;
    
}
#clear:hover {
    background-color: aquamarine;
}